{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_page/css/style.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div id = 'introduction-part'>
        <div id = 'first-text'>
            <h2>
                Generate your Qr Code quickly and easily with us!
            </h2>
            <h3>
                Unlock the power of seamless connectivity with our user-friendly QR Code Generator. Whether you're looking to enhance your marketing campaigns, share contact information effortlessly, or simply make your life more convenient, our tool provides a quick and easy way to create custom QR codes.
            </h3>
        </div>
        {% if not is_authorizated %}
            <div id='message-to-user'>
                <h3>
                    CURRENTLY YOU CAN GENERATE ONLY ONE QR CODE FOR 30-DAYS. TO INCREASE THE AREA OF YOUR OPPORTUNITIES GO TO THE NEXT STEP
                </h3>
                <a href="{% url 'registration' %}">
                    LOG IN
                </a>
            </div>
        {% endif %}

    </div>

    <div id = 'steps-to-create'>
        <div id = 'steps-content'>
            <h2>
                Create it easy!
            </h2>

            <div id = 'steps-pictures'>
                <img src="{% static 'home_page/img/content_QR.png' %}" alt="first step">
                <img src="{% static 'home_page/img/design_QR.png' %}" alt="second step">
                <img src="{% static 'home_page/img/save_QR.png' %}" alt="third step">
            </div>

            <div id = 'steps-text'>
                <h3>
                    Start by deciding what you want your QR code to do.Once you have the context, generate the link or data that you want to embed in the QR code.
                </h3>

                <h3>
                    Customize your QR code's appearance. Our QR code generator allow you to choose colors, add new forms, or adjust the pattern. 
                </h3>

                <h3>
                    Once you're happy with the design, save your QR code in the desired format (e.g., PNG, SVG, or PDF).
                </h3>
            </div>
        </div>
    </div>

    <div id = 'tariff-plans-part'>
        <h2 id = 'first-text-for-tariffs'>
            LOGIN AND CHOOSE YOUR TARIFF PLAN TO MORE POSSIBILITIES 
        </h2>

        <div id = 'tariff-examples'>
            <div id = tariff-plans>
                <div id = 'free' class = 'examples'>
                    <div class = 'text-content'>
                        <h2>
                            FREE
                        </h2>
                        <h3>
                            registered user can create one QR code for 6 months free of charge.
                        </h3>
                    </div>
                    <form method = "post">
                        {% csrf_token %}
                        <button class = 'more-info'>
                            <img src="{% static 'home_page/img/arrow.png' %}" alt="more info">
                        </button>
                    </form>
                </div>

                <div id = 'standart' class = 'examples'>
                    <div class = 'text-content'>
                        <h2>
                            STANDART
                        </h2>
                        <h3>
                            subscription cost is $2 per month. 10 customized QR codes.
                        </h3>
                    </div>

                    <form method = "post">
                        {% csrf_token %}
                        <button class = 'more-info'>
                            <img src="{% static 'home_page/img/arrow.png' %}" alt="more info">
                        </button>
                    </form>
                </div>

                <div id = 'pro' class = 'examples'>
                    <div class = 'text-content'>
                        <h2>
                            PRO
                        </h2>
                        <h3>
                            up to 100 QR codes, subscription $10 per month.
                        </h3>
                    </div>

                    <form method = "post">
                        {% csrf_token %}
                        <button class = 'more-info'>
                            <img src="{% static 'home_page/img/arrow.png' %}" alt="more info">
                        </button>
                    </form>
                </div>
            </div>

            <div id = 'examples'>
                <img src="{% static 'home_page/img/example_1.png' %}" alt="example">
                <img src="{% static 'home_page/img/example_2.png' %}" alt="example">
                <img src="{% static 'home_page/img/example_3.png' %}" alt="example">
            </div>
        </div>
    </div>
{% endblock %}