{% extends "base.html" %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'subscription_page/css/payment_page.css' %}">
    
{% endblock %}

{% block title %}
    Subscriptions Payment
{% endblock %}

{% block head %}
    
{% endblock %}

{% block content %}
    <div id = 'payment-container'>
        <h3>Payment</h3>
        <p>You are purchasing the <strong>{{ new_subscription }}</strong> plan.</p>

        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        <form method="post" id = 'form-payment'>
            {% csrf_token %}
            <label for="password">Enter your password to confirm payment:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" id = 'submit-payment'>Complete Payment</button>
        </form>
    </div>
    
{% endblock %}