{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
{% endblock %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <h2>LOG IN AND GENERATE WITHOUT LIMITATIONS!</h2>
    <div id = 'message-user'>
        <span class = 'message-text-user'>
            <h3>IF YOU ARE ALREADY REGISTERED, THEN MOVE TO THE NEXT PAGE...</h3>
            <a href="authorization">LOG IN</a>
        </span>
    </div>

    <form id = 'registration-form' method = "post">
        {% csrf_token %}
        <input type="text" name = "username" id = 'username-reg-input' class = 'registration-inputs' placeholder="enter username">
        <input type="email" name = "email" id = 'email-reg-input' class = 'registration-inputs' placeholder="enter email">
        <input type="password" name="password" id="password-reg-input" class = 'registration-inputs' placeholder="enter password">
        <input type="password" name="confirm_password" id="password-confirm-reg-input" class = 'registration-inputs' placeholder="confirm password">

        <button id = 'registration'>
            Registration
        </button>
    </form>
{% endblock %}