#my-saved-QR-code{
    width: 600px;
    height: 350px;
    border-radius: 20px;
    background-color: #A8BDB6;
    display: flex;
    align-items: center;
    padding: 20px;
}

h1{
    color: #EEFDFF;
    font-size: 28;
    font-family: Josefin Sans;
    font-weight: bold;
}

button{
    width: 205px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #EEFDFF;
    font-family: "Josefin Sans";
    font-size: 40px;
    font-weight: 600;
    color: #A8BDB6;
    border: 3px #98A6A1 solid;
}

#button:hover{
    background-color: #e8f5f0;
    color: #A8BDB6;
}

button + button {
    margin-top: 4px;
}

#QR-code-image{
    width: 300px;
    height: 300px;
    background-color: #EEFDFF;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
#myqrcodes-link{
    text-decoration: underline;
}
#download:hover{
    background-color: #A8BDB6;
    color: #EEFDFF;
    border: 3px #EEFDFF solid;
}
#delete:hover{
    background-color: #A8BDB6;
    color: #EEFDFF;
    border: 3px #EEFDFF solid;
}
/*  */
.qr-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#QR-code-image img{
    width: 280px;
    height: 280px;
    border-radius: 15px;
}
.qr-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 картки в ряд */
    gap: 20px; /* Відстань між картками */
    justify-content: center;
    padding: 20px;
}
.sort-container label{
    font-size: 32px;
    font-family: Josefin Sans;
    font-weight: bold;
    color: #C76363;
    margin-right: 12px;
}

.sort-container select{
    width: 320px;
    height: 60px;
    background-color: #EEFDFF;
    color: #A8BDB6;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 28px;
    border-radius: 15px;
    border: 3px #98A6A1 solid;
}
.sort-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 100%;
    color: #C76363;
    font-size: 38px;
    font-family: Josefin Sans;
    font-weight: bold;
}
p, a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    color: #C76363;
    font-size: 34px;
    font-family: Josefin Sans;}
a{
    margin-left: 8px;
    margin-right: 8px;
}