{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'authorization/css/style.css' %}">
{% endblock %}

{% block title %}
    Authorization
{% endblock %}

{% block content %}
    <h2>LOG IN AND GENERATE WITHOUT LIMITATIONS!</h2>
    <div id = 'message-user'>
        <span class = 'message-text-user'>
            <h3>IF YOU HAVE NOT REGISTERED YET, PLEASE GO TO THE NEXT PAGE...</h3>
            <a href="registration">REGISTRATION</a>
        </span>
    </div>

    <form id="authorization-form" method="post">
        {% csrf_token %}
        <input 
            type = "text" 
            name = "username" 
            id = "username-auth-input" 
            class = "authorization-inputs {% if error_message %}error-input{% endif %}" 
            placeholder = "Enter username">
        <input 
            type = "password" 
            name = "password" 
            id = "password-auth-input" 
            class = "authorization-inputs {% if error_message %}error-input{% endif %}" 
            placeholder = "Enter password">
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
    
        <button id="log-in">
            Log in
        </button>
    </form>
    
{% endblock %}