{% extends "base.html" %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'contacts_page/css/contacts_page.css' %}">
{% endblock %}

{% block title %}
    Contacts
{% endblock %}

{% block content %}
    {% if not is_authorizated %}
        <div id='message-to-user'>
            <h3>
                CURRENTLY YOU CAN GENERATE ONLY ONE QR CODE FOR 30-DAYS. TO INCREASE THE AREA OF YOUR OPPORTUNITIES GO TO THE NEXT STEP
            </h3>
            <a href="{% url 'registration' %}">
                LOG IN
            </a>
        </div>
    {% endif %}

    <h3>We are glad to see you here! You can leave your feedback to us!</h3>

    <form method="post" id="response-form">
        {% csrf_token %}
        <input type="text" name="your_email" id="your-email" class="response-elements" placeholder="Enter your email">
        <input type="text" name="feedback" id="feedback" class="response-elements" placeholder="Your feedback">

        {% if success_message %}
            <p id="success-message">{{ success_message }}</p>
        {% endif %}

        <button type="submit" id="send-response">Send</button>
    </form>
{% endblock %}
