<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% block links %}

        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <a href="{% url 'generate' %}">Generate</a>
            <a href="{%  url 'myqrcodes' %}">My QR code</a>
        </header>

        {% block content %}
            
        {% endblock %}
    </body>
</html>