* { 
    box-sizing: border-box;
}
body{
    background-color: #F0DFCD;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 94px;
    margin-right: 94px;
    margin-top: 48px;
    margin-bottom: 48px;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 78px;
}
header a{
    width: 255px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: #C76363;
}
header div {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#home-link{
    font-size: 48px;
    font-weight: bold;
}
.custom-line {
    border: none;
    border-top: 3px solid #F2BA05;
    width: 100%;
}
#username{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: #C76363;
    font-family: 'Josefin Sans', sans-serif;
}
#logout-button{
    background-color: #F0DFCD;
    width: 185px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: #C76363 3px solid;
    font-size: 30px;
    font-weight: bold;
    color: #C76363;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
}